@charset "UTF-8";

@media screen and (max-width: 768px){
    .carrousel{
        max-width: 768px;
    }
    .carro{
        max-width: 768px;
    }
    div > img{
        max-width: 768px;
        width: 100%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* Segunda paleta (mais escura)*/
.Sempre-viva-cerrado-1-hex { color: #7EAED9; }
.Sempre-viva-cerrado-2-hex { color: #888C03; }
.Sempre-viva-cerrado-3-hex { color: #6F7302; }
.Sempre-viva-cerrado-4-hex { color: #403C01; }
.Sempre-viva-cerrado-5-hex { color: #262001; }

:root{
    --cor0: #7EAED9;
    --cor1: #888C03;
    --corback: #878c031e;
    --cor2: #6F7302;
    --cor3: #403C01;
    --cor4: #262001a4;

    --font-padrao: 'PT Sans', sans-serif;
    --font-destaque:'PT Sans', sans-serif; 
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    align-items: center;
    justify-content: center;
    font-family: var(--font-padrao);
    background-color:var(--corback);
}
header{
    background-image: linear-gradient(to bottom, #61640f85, var(--corback));
    min-height: 100px;
    text-align: center;
    padding-top: 10px;
}
header>h1{
    font-family: var(--font-destaque);
    font-weight: bold;
    font-size: 3.5em;
    color: var(--cor3);
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.116);
}
header>p{
    font-family: var(--font-padrao);
    font-weight: bold;
    font-size: 1.5em;
    color: var(--cor2);
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.055);
}
nav{
    background-color: var(--corback);
    padding: 7px;

}
nav>a{

    text-decoration: none;
    padding: 7px;
    margin-right: 10px;
    color: var(--cor4);
    font-family: var(--font-padrao);
    font-weight: bold;
    font-size: 1.3em;
    
}
nav>a:hover{
    background-color: #878c0333;
}
h2{
    font-family: var(--font-destaque);
    font-weight: bold;
    color: var(--cor4);
    text-align: center;
}
section.divi{
    background-color: white;
    min-width: 300px;
    max-width: 1500px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    border-radius: 10px 10px;
}
section.carro{
    background-color: white;
    min-width: 300px;
    max-width: 1500px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    border-radius: 10px 10px   
}
section.footer{
    background-color: white;
    text-align: center;
    min-width: 300px;
    max-width: 1500px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
section.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
figure{
    text-align: center;
    width: 27.3%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: auto;
    margin-left: 10px;
}
figure img{
    max-width: 100%;
}
figure a{
    background-color: rgba(35, 155, 35, 0.555);
    color: white;
    margin: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    border-radius: 3px 3px;

}
figure a:hover{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 1.06em;
}
p.valor{
    margin-bottom: 17px;
}
.carrousel{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    overflow: hidden;
    height: 600px;
    max-width: 1450px;
}
.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
div > img{
    object-fit: cover;
    height: 800px;
    width: 1450px;
}