@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family: 'Bebas', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.363);
}
header{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.363);
    background-image: linear-gradient(to bottom, lightgreen, darkgreen);
    width: auto;
}
nav{
    text-align: left;
    padding: 10px;
}
nav > a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-right: 10px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}
nav > a:hover{
    background-color: rgb(4, 138, 4);

}
body{
    background-color: rgb(198, 248, 198);
}
main{
    background-color: white;
    margin: auto;
    padding: 10px;
    width: 1500px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-indent: 1.5em;
}
.link{
    text-decoration: none;
    background-color: rgba(4, 138, 4, 0.171);
    padding: 2.5px;
}
.bold{
    font-weight: bold;
    color: darkgreen;
}
.lista::before{
    content: '✔ ';
}
.link::after{
    content: ' 🔗';
}
h2{
    font-family: 'Android', sans-serif;
    color: darkgreen;

}
h3{
    font-family: 'Android', sans-serif;
    background-image: linear-gradient(to right, rgba(144, 238, 144, 0.5) 40%,white );
    color: darkgreen;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.vid{
    background-color: darkgreen;
    margin: auto;
    text-align: center;
    width: 1400px;
    padding: 10px;
}
.box{
    width: 1400px;
    height: 500px;
    margin: auto;
    background-color: rgb(179, 230, 179);
    border-radius: 14px 14px;
}
div > h4{
    margin: 0px;
}
div{
    background-color: rgba(14, 114, 14, 0.795);
    margin-top: 20px;
    padding: 3px;
    color: white;
    border-radius: 14px 14px 0px 0px;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 7px;
}
footer > p{
    margin: 0px;
}
.centro{
    margin: auto;
    text-align: center;
}
abbr{
    text-decoration: none;
}